<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <title>{{ page.title }}</title>
</head>
<body>
    {{ content }}
    {% if page.previous.url or page.next.url%}
    <hr/>
    <div class="PageNavigation">
        <a href="/blog/">返回主页</a>
        <table border="0">
            <tr>
                <td>
                    {% if page.next.url %}
                    <a href="/blog{{page.next.url}}">新篇：{{page.next.title}}</a>
                    {% else %}
                    <div class="PageNavFail">已经是最新一篇了</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if page.previous.url %}
                    <a href="/blog{{page.previous.url}}">旧篇：{{page.previous.title}}</a>
                    {% else %}
                    <div class="PageNavFail">已经是最旧一篇了</div>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    {% endif %}
</body>
</html>
